# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
THUMB_IMAGE = "https://telegra.ph/file/0087a0f2c1bc2446e4ce5.png"
port = 5000
email = "lindokuhle.ndlangamandla@gmail.com"
OWNER_NAME = "Lindokuhle Designsr"
AUTO_REACTION = true
FAKE_COUNTRY_CODE = 27
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 2
DISABLE_PM = false
ANTI_BAD_WORDS = "fuck"
LEVEL_UP_MESSAGE = true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= SIGMA_MD
WORKTYPE = public
PACK_INFO = "SIGMA-MD;Lindokuhle Designs"
ANTILINK_VALUES = "chat.whatsapp.com"
